*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    position:fixed;
    top: 0;
    width: 100%;

}
header nav {
    padding: 2em;
    background-color: #000;
}

header nav ul {
    display: flex;
    justify-content: center;

}

header nav ul li {
    list-style: none;
}

header nav li a{
    text-decoration: none;
    margin: 0 4rem;
    color: #fff;
    font-size: 1em;

}

header nav li a:hover{
    color: #88ff00;
}


.content-section-primary{
margin: 7em 0;
text-align: center;
}

.content-info{
    margin: 0 2em;
    line-height: 5em;
}

.content-title {
text-align: center;
border: 1px solid #000;
border-radius: 15px;
/* padding:1em 2em; */
/* margin: 10em 0 0 0 ; */
display: inline-block;
}

.content-title h1{
    padding: 0 5em;
}

.content-image{
    text-align: center;
}



img{
    max-width: 40em;
    max-height: 25em;
    border-radius: 2em;
    border: 1px solid #000;
}


footer{
    text-align: center;
    padding: 1.5em;
    color: #fff;
    border-top: solid 1px #000;
    background-color: #000000;
}